* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

*:focus {
    outline: none;
}

.nav li {
    display: flex;
    height: 54px;
    text-transform: uppercase;
    align-items: center;
    /* padding: 0 20px; */
    justify-content: space-between;
    white-space: nowrap;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 19px 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.nav li a:hover {
    text-decoration: none;
}

.nav .all-categories {
    width: 288px;
    height: 54px;
    background: #ffc107;
    border-radius: 14px 14px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 20px;
}


/* header-search */

.header-search form select {
    width: 232px;
    height: 54px;
    border-radius: 14px 0 0 14px;
    border: none;
    font-size: 17px;
    line-height: 20px;
    padding-left: 24px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.header-search form div input {
    flex: 1;
    width: 472px;
    height: 54px;
    border: none;
    margin-right: 0px;
    font-size: 16px;
    padding-left: 20px;
}

.header-search form div {
    display: flex;
    align-items: center;
}

.header-search form div button {
    width: 151px;
    height: 54px;
    border-radius: 0 14px 14px 0;
    border: none;
    background: #ffc107;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}


/* header-support */

.header-support,
.header-cart {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.header-support a {
    text-decoration: none;
    color: white;
    display: flex;
}

.header-support a div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header-support a div h2,
.header-support a div h3 {
    text-align: center;
}

.header-support a div h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.03em;
    display: inline-block;
}

.header-support a div h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.06em;
    display: inline-block;
}


/* header-cart */

.header-cart {
    position: relative;
    height: 36px;
}

.header-cart a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.header-cart a div .notifi-nums {
    width: 20px;
    height: 20px;
    font-size: 13.5px;
    letter-spacing: -0.08em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffc107;
    line-height: 20px;
    border-radius: 10px 10px;
    text-align: center;
    color: #2c3e50;
    font-weight: 600;
}

.header-function {
    display: flex;
    /* position: absolute; */
    width: 1244px;
    /* top: 40px; */
    right: 124px;
    padding: 5px 10px 40px 10px;
    align-items: center;
    justify-content: space-between;
}


/* style footer */

#footer div h1 {
    font-size: 21px;
    line-height: 25px;
    font-weight: 600;
    color: #ffc107;
    text-transform: uppercase;
}

#footer div ul li {
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

#footer div ul li .list__type {
    width: 5.5px;
    height: 5.5px;
    background-color: #fff;
    transform: rotate(45deg);
    margin-right: 9px;
}

#footer div ul li a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

#footer .infor__breakline {
    width: 70px;
    height: 2px;
    background-color: #ffc107;
    margin-top: 5px;
    margin-bottom: 3px;
}

#footer .contact__phone,
#footer .contact__email {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 24px;
}

#footer .contact__phone i,
#footer .contact__email i {
    font-size: 24px;
    margin-right: 12px;
}

#footer .column5 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 2px solid white;
}


/* style body 1 */

#body1 .best-seller-container>div .brand1 {
    width: 140px;
    height: 140px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#body1 .best-seller-container>div .brand1 img {
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
}

#body1 .slide__level1 .slide__left .slide-navi .navi-container input {
    width: 15px;
    height: 15px;
}


/* style slider */

.slide__left {
    position: relative;
    width: 710px;
    height: 563px;
    background-color: white;
    border-radius: 14px;
    filter: drop-shadow(0px 0px 7.03333px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    text-align: center;
}

.slide__left .menu {
    position: absolute;
    z-index: 900;
    width: 192px;
    bottom: 15px;
    background-color: white;
    height: 50px;
    filter: drop-shadow(0px 0px 7.03333px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.slide__left input {
    display: none;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #2c3e50;
    background: #fff;
    border-radius: 50px;
    margin: 13px 2px 2px;
    /* margin: .2em .2em .1em; */
    &:hover {
        background: #2c3e50;
    }
}

.slide__left .slide {
    width: 710px;
    height: 563px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

.slide img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide__left .sliders>div {
    width: 710px;
    height: 563px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* style body 2 */

#body2 div .body__product {
    /* position: absolute;  */
    /* top: 40px; 
    left: 80px;  */
    width: 344px;
    height: 598px;
    background-color: #fff;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 7.03333px rgba(0, 0, 0, 0.25));
    text-decoration: none;
}

#body2 div .body__product .image-product {
    margin-top: 26px;
    margin-left: 26px;
    width: 292px;
    height: 310px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#body2 div .body__product .image-product .sale__value {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: #ffc107;
    border-radius: 7px;
    width: 64px;
    height: 21px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #2c2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 3.51667px rgba(0, 0, 0, 0.25));
}

#body2 div .body__product .image-product img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#body2 div .body__product .product__tags {
    margin: 16px 0px 16px 26px;
    /* width: 74px; */
    height: 35px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #2c2c2c;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    background-color: #f7f7f7;
    border-radius: 7px;
    box-shadow: 0px 0px 1.75833px rgba(0, 0, 0, 0.25);
    line-height: 35px;
    padding: 0 8px 0 8px;
}

#body2 div .body__product .product__breakline {
    width: 291px;
    height: 3.5px;
    background-color: #f6f6f6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#body2 div .body__product .product__name {
    margin-top: 40px;
    margin-left: 26px;
    max-width: 292px;
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
    letter-spacing: -0.02em;
    color: #2c2c2c;
}

#body2 div .body__product .product__price {
    margin-left: 26px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #2c2c2c;
    margin-top: 20px;
    margin-bottom: 8px;
}

#body2 div .body__product .product__rate {
    display: flex;
    margin-top: 14px;
    margin-left: 26px;
    align-items: center;
}

#body2 div .body__product .product__rate .star__rate {
    color: #ffc107;
    line-height: 30px;
}

#body2 div .body__product .product__rate .star__rate i {
    margin-right: 3px;
}

#body2 div .body__product .product__rate .rate__num {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #2c2c2c;
    margin-left: 8px;
    line-height: 30px;
}


/* style blog */

#blog .blog__show>div {
    width: 457px;
    height: 521px;
    background-color: #fff;
    box-shadow: 0px 0px 3.51667px 1.75833px rgba(0, 0, 0, 0.25);
}

#blog .blog__show>div>a {
    text-decoration: none;
}

#blog .blog__show>div>a .content {
    padding-top: 20px;
}

#blog .blog__show>div>a .content .image__blog {
    width: 417px;
    height: 264px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
}

#blog .blog__show>div>a .content .image__blog img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#blog .blog__show>div>a .content .main__content {
    display: flex;
    margin-top: 26px;
    width: 457px;
}

#blog .blog__show>div>a .content .main__content .blog-content-container {
    width: 417px;
    margin: auto;
}

.blog-content-container>h3 {
    text-align: justify;
    font-size: 17.5px;
    font-weight: 700;
    color: #2c2c2c;
}

.blog-content-container .blog__level2 {
    display: flex;
    align-items: center;
    padding: 26px 0 30px 0;
}

.blog-content-container .blog__level2 .date,
.blog-content-container .blog__level2 .views {
    display: flex;
    align-items: center;
}

.blog-content-container .blog__level2 .date i,
.blog-content-container .blog__level2 .views i {
    color: #3f3c3c;
    font-size: 16px;
    padding: 0 10px 0 10px;
}

.blog-content-container .blog__level2 .date h2,
.blog-content-container .blog__level2 .views h2 {
    font-size: 16px;
    color: #3f3c3c;
}

.blog-content-container .blog__level2 .break__content {
    width: 1px;
    height: 14px;
    background-color: #3f3c3c;
    margin: 0 20px 0 20px;
}

.blog-content-container p {
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #2c2c2c;
}